@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
}

.color_box {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    body {
        background: #f5f5f5;
        color: #222;
    }
    /* Add more light mode specific styles here */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background: #181818;
        color: #eee;
    }
    /* Add more dark mode specific styles here */
}